
/*****************Open-Sans**********************************/

/*Bold*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/OpenSans/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff');

}

/*Bold-italic*/
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/OpenSans/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-bolditalic-webfont.woff') format('woff');
}

/*Italic*/
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/OpenSans/opensans-italic-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-italic-webfont.woff') format('woff');
}

/*Light*/
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/OpenSans/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-light-webfont.woff') format('woff');
}

/*Light-Italic*/
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/OpenSans/opensans-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff');
}

/*Semi-Bold*/
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/OpenSans/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff');
}

/*Semi-Bold-Italic*/
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff') format('woff');
}